<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target name="console" xsi:type ="Console" layout="${date:format=HH\:mm\:ss.fff} | ${level:uppercase=false} : ${message}" />
    <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
    <target name="error_file" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Error.log" maxArchiveFiles="30"
        layout="${longdate} | ${level:uppercase=false} | ${logger} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" 
        archiveFileName="${basedir}/Logs/${shortdate}/Error.{#####}.log"
        archiveAboveSize="102400000"
        archiveNumbering="Rolling"
        concurrentWrites="true"
        keepFileOpen="false"/>
    <target name="warn_file" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Warn.log" maxArchiveFiles="30"
        layout="${longdate} | ${level:uppercase=false} | ${logger} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="debug_file" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Debug.log" maxArchiveFiles="30"
        layout="${longdate} | ${level:uppercase=false} | ${logger} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="flushterm_file" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Trace/FlushTerm/${logger}.log" maxArchiveFiles="30"
        layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="recharge_file" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Trace/Recharge/${logger}.log" maxArchiveFiles="30"
        layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="termconn_file" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Trace/TermConn/${logger}.log" maxArchiveFiles="30"
        layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="debugger_file" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/debugger.log" maxArchiveFiles="30"
        layout="${longdate} | ${level:uppercase=false} | ${logger} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"
        archiveFileName="${basedir}/Logs/${shortdate}/debugger.{#####}.log"
        archiveAboveSize="102400000"
        archiveNumbering="Rolling"
        concurrentWrites="true"
        keepFileOpen="false"/>
    <target name="ec_shutdown_file" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/EC_ShutDown.log" maxArchiveFiles="30"
        layout="${longdate} | ${level:uppercase=false} | ${logger} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="ir_data_file" xsi:type="File"
      fileName="${basedir}/Logs/${shortdate}/Ir_Data.log" maxArchiveFiles="30"
      layout="${longdate} | ${level:uppercase=false} | ${logger} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
  </targets>
  <rules>
    <logger name="TERM[*]" level="Trace" writeTo="termconn_file, console" />
    <logger name="FLUSH[*]" level="Trace" writeTo="flushterm_file, console" />
    <logger name="RECHARGE[*]" level="Trace" writeTo="recharge_file, console" />
    <logger name="EC_SHUTDOWN" level="Info" writeTo="ec_shutdown_file" />
    <logger name="*" level="Info" writeTo="console" />
    <logger name="*" level="Debug" writeTo="debugger" />
    <logger name="Cowboy.Sockets.*" level="Debug" writeTo="debugger_file" />
    <logger name="*" level="Warn" writeTo="warn_file, console" />
    <logger name="*" minlevel="Error" writeTo="error_file, console" />
    <logger name="IR_Data" minlevel="Info" writeTo="ir_data_file, console" />
  </rules>
</nlog>